{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "plugin:@typescript-eslint/recommended", "airbnb", "airbnb/hooks",  "plugin:react/jsx-runtime", "prettier", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint/eslint-plugin", "react", "babel"],
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "@/": "./src/"
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-uses-react": [2],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "react/jsx-wrap-multilines": [0],
    "import/prefer-default-export": [0],
    "@typescript-eslint/explicit-function-return-type": [0],
    "@typescript-eslint/explicit-module-boundary-types": [0],
    "@typescript-eslint/no-explicit-any": [2],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [{
          "name": "@mui/material",
          "message": "请不要直接引用整个@mui/material包，可以按需单独导入需要的组件"
        }, {
          "name": "antd",
          "message": "尽量不要使用antd"
        }]
      }
    ],
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-unused-vars": [2],
    "react/require-default-props": "off",
    "react/function-component-definition": "off"
  }
}
