.table {
  :global(.ant-table-content) {
    &::-webkit-scrollbar {
      display: block;
      height: 12px;
    }

    &::-moz-scrollbar {
      display: block;
      height: 12px;
    }

    &::-o-scrollbar {
      display: block;
      height: 12px;
    }

    &::-ms-scrollbar {
      display: block;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f2f2f2;
      &:hover {
        background-color: #ccc;
      }
    }

    &::-moz-scrollbar-thumb {
      background-color: #f2f2f2;
      &:hover {
        background-color: #ccc;
      }
    }

    &::-o-scrollbar-thumb {
      background-color: #f2f2f2;
      &:hover {
        background-color: #ccc;
      }
    }

    &::-ms-scrollbar-thumb {
      background-color: #f2f2f2;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
