@font-face {
    font-family: 'Tequila';
    src: url('1ed9b56a9ce36b9c991f275805eab011.eot');
    src: url('1ed9b56a9ce36b9c991f275805eab011.eot?#iefix') format('embedded-opentype'),
        url('1ed9b56a9ce36b9c991f275805eab011.woff2') format('woff2'),
        url('1ed9b56a9ce36b9c991f275805eab011.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

